.dropdown-wrapper {
  position: relative;
  display: inline-block;
  .dropdown-content {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    min-width: 140px;
    cursor: pointer;
    background-color: #fff;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .dd-bottomRight {
    right: 0;
  }
  .dd-bottomLeft {
    left: 0;
  }
  .dd-top {
    bottom: 100%;
  }
  .dd-topRight {
    bottom: 100%;
    right: 0;
  }
  .dd-topLeft {
    bottom: 100%;
    left: 0;
  }
}
.trigger-hover {
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}
