.bu-tag-wrapper {
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  border-radius: 2px;
  margin-right: 5px;
  padding: 5px;
  white-space: nowrap;
  display: inline-block;
  font-family: GothamSSm-light;
  color: rgba(0, 0, 0, 0.65);
  .bu-tag-item-wrapper {
    display: flex;
    .bu-tag-icon {
      margin-right: 5px;
      height: 13px;
      .md {
        margin-left: 0px;
        padding-left: 0px;
        font-size: 12px;
        color: #fff;
        margin-bottom: 0px;
        padding-left: 0px;
      }
    }
    .bu-tag-text {
      font-size: 11px;
      padding-top: 1px;
    }
    .md {
      font-size: 14px;
      margin-left: 4px;
      &:hover {
        cursor: pointer;
        color: #000;
      }
    }
  }
}
.bu-status-success {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}
.bu-status-processing {
  color: #1890ff;
  background: #e6f7ff;
  border-color: #91d5ff;
}
.bu-status-error {
  color: #f5222d;
  background: #fff1f0;
  border-color: #ffa39e;
}
.bu-status-warning {
  color: #fa8c16;
  background: #fff7e6;
  border-color: #ffd591;
}
.margin-top {
  margin-top: 10px;
}
