.pagination-wrapper {
  margin: 10px;
  .pagination {
    display: flex;
    .pagination-item {
      margin: 0 3px;
      a.page-link {
        color: rgba(0, 0, 0, 0.65);
        text-decoration: none;
        border: 1px solid #eaeaea;
        padding: 5px 10px;
        &:hover {
          border-color: #0b88ee;
          color: #0b88ee;
        }
      }
    }
  }
}
