.menu-items {
  color: #000;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: "GothamSSm-Light";
  padding: 5px 12px;
  a {
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 32px;
    margin: -5px -12px;
    padding: 5px 12px;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
  }
  &:hover {
    background-color: #f1f1f1;
  }
}
.bu-disabled {
  a {
    display: block;
    color: rgba(0, 0, 0, 0.25);
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    outline: 0;
    margin: -5px -12px;
    padding: 5px 12px;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
  }
  &:hover {
    background-color: #fff;
  }
}
